<section class="hero-wrap hero-wrap-2" style="        background-image: url('../images/aboutusBG.png');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <b style="font-size: 60px;color:#000;" class="mb-4">About us </b>
                <p class="breadcrumbs"><span class="mr-2"><a href="../Index">Home <i class="fa fa-chevron-right"></i></a></span> <span>About <i class="fa fa-chevron-right"></i></span></p>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">

        <div class=" wrap-about py-md-5 ftco-animate">
            <div class="heading-section pr-md-5">
                <h1>
                    Our project
                </h1>
                <p class=" mb-3" style="font-size: 18px;">
                    This website is a part of the project of Industry Experience Unit offered by Monash University. The website aims to educate to the chidlren regarding beach safety rules and provides the valuable information about beaches around Melbourne.
                </p>
                <h1>
                 Team introduction
                </h1>

                <p class=" mb-3" style="font-size: 18px;">
                    Our team '4 GigaBytes' is a blend of students with different cultures but with the same vision. Gradually getting along with the last semester, all of us had an amazing journey with some exceptional experiences till here. We share workspace together as a team and no one stands back alone. We acknowledge each other's skills and efforts, and there is mutual respect between our professional and personal understanding.
                </p>
            </div>
        </div>
        



  
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch justify-content-end">
                        <div class="img align-self-stretch" style="        background-image: url(../images/member/1.PNG);"></div>
                    </div>
                    <div class="text d-flex align-items-center pt-3">
                        <div>
                            <h3 class="mb-2">Akshay<br> Rai Chopra </h3>
                            <span class="position mb-4">

                                A blooming data scientist with a passion for data analytics and business forecasting. <br />Learning something new every week.
                            </span>
                            <ul class="ftco-social">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch justify-content-end">
                        <div class="img align-self-stretch" style="        background-image: url(../images/member/2.JPEG);"></div>
                    </div>
                    <div class="text d-flex align-items-center pt-3">
                        <div>
                            <h3 class="mb-2">Rashmitha  <br>Karkera</h3>
                            <span class="position mb-4">

                                A Tech Savvy Enthusiast pursuing Masters of Business Information Systems
                            </span>
                            <ul class="ftco-social">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch justify-content-end">
                        <div class="img align-self-stretch" style="        background-image: url(../images/member/3.JPG);"></div>
                    </div>
                    <div class="text d-flex align-items-center pt-3">
                        <div>
                            <h3 class="mb-2">Ran <br>Wang</h3>
                            <span class="position mb-4">
                                A passionate business and product analyst with a growing interst in user interface design.

                            </span>
                            <ul class="ftco-social">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch justify-content-end">
                        <div class="img align-self-stretch" style="        background-image: url(../images/member/4.JPG);"></div>
                    </div>
                    <div class="text d-flex
                         pt-3">
                        <div>
                            <h3 class="mb-2">Yuxu <br>Chen</h3>
                            <span class="position mb-4">

                                A coder by passion and a student by profession with interests in Java, C#, Java Script, Android and Python.
                            </span>
                            <ul class="ftco-social">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>