<!---->
<style type="text/css">
    /*  on hover the images, it changes opacity*/
    .myLinkClass:hover {
        opacity: 0.7;
    }

    img {
        vertical-align: middle;
    }
    /*Change cursor while on image*/
    .cursor {
        cursor: pointer;
    }
    /* the container tab for all the images*/
    .adventContainerTab a {
        transition: .3s all ease !important;
        color: #080a23fa !important;
        font-size: x-large !important;
        text-decoration: underline !important;
    }

    .imageInAdventureSection {
        float: left;
        width: 100px;
        height: 300px;
        object-fit: cover;
    }
    /* To write a caption on top of the images*/
    .textonimage {
        position: absolute;
        z-index: 999;
        top: 85%; /* Adjust this value to move the positioned div up and down */
        color: whitesmoke;
        width: 90%; /* Set the width of the positioned div */
        line-height: 1.5;
        s font-weight: 400;
        font-size: 25px;
        text-shadow: 2px 2px 4px #000000;
        justify-content: center;
    }
    /*Mobile Configuration*/
    @@media all and (max-width: 800px) {
        .textonimage {
            position: absolute;
            z-index: 999;
            top: 85%; /* Adjust this value to move the positioned div up and down */
            color: whitesmoke;
            width: 90%; /* Set the width of the positioned div */
            line-height: 1.5;
            font-weight: 200;
            font-size: 8px;
            text-shadow: 1px 2px 4px #000000;
            justify-content: center;
            bottom: 8px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

<<<<<<< Updated upstream
=======
        h1, h3 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }


        .customtooltip1 {
            position: relative;
            display: inline-block;
            border: outset;
            margin-left: 10px;
        }

            .customtooltip1 .tooltiptext {
                visibility: hidden;
                background-color: #fff;
                color: black;
                text-align: center;
                border-radius: 6px;
                position: absolute;
                top: 8px;
                max-width: 185px;
                min-width: 180px;
                z-index: 100;
                padding: 8px;
                left: 0px;
                font-size: 10px;
            }

            .customtooltip1:hover .tooltiptext {
                visibility: visible;
            }
    }
>>>>>>> Stashed changes
    /* start: Tooltip configuration*/
    .customtooltip1 {
        position: relative;
        display: inline-block;
        border: outset;
        margin-left: 10px;
    }

    .customtooltip2 {
        position: relative;
        display: inline-block;
    }

    .customtooltip1 .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: #fff;
        color: black;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }

    .customtooltip1:hover .tooltiptext {
        visibility: visible;
    }
    /*end*/

    /* The scroll up button */
    #myBtn {
        display: none;
        position: fixed;
        bottom: 100px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #555;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

        #myBtn:hover {
            background-color: #555;
        }

    .sectionMargin {
        padding: 1em 0 !important;
    }
    /* Provide  font throughout*/
    .sectionFont {
        font-size: large;
        line-height: 1.8;
        font-weight: 400;
        color: rgb(10 9 9);
        font-family: sans-serif;
    }
<<<<<<< Updated upstream

  
=======
>>>>>>> Stashed changes
    }
</style>

<!-- The user scrolls up when they click on the Top Button -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<<<<<<< Updated upstream
            <!-- Section for the banner picture on the top-->
            <section class="hero-wrap hero-wrap-2 responsive  " style="        background-image: url('../images/bptest.jpg');
" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-end">
                        <div class="col-md-9 ftco-animate pb-5">
                            <b style="font-size: 60px;color:#000;" class="mb-4">Beach play </b>
                            <p class="breadcrumbs">
                                <span class="mr-2"><a href="~/Home/Index">Home <i class="fa fa-chevron-right"></i></a></span>
                                <span>Beach play </span>
                            </p>

                        </div>
                    </div>
                </div>
            </section>
            </br>

            <!-- Section for the Water Activities-->
            <section class="ftco-section sectionMargin sectionFont ">
                <div class="container">
                    <div class=" wrap-about ftco-animate">

                        <p style="font-size: 25px;color:#000;">
                            Hello Hunters, are you looking for the beach sports and activities?
                            Well, some of them are same as the ground sports but they come with safer
                            and funnier way than the original ones while other lets you seek adventures that open your mind.
                        </p>
                        <div class="heading-section pr-md-5 " style="        color: #232020 !important;
=======
<!-- Section for the banner picture on the top-->
<section class="hero-wrap hero-wrap-2 responsive  " style="        background-image: url('../images/bptest.jpg');
" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <b style="font-size: 60px;color:#000;" class="mb-4">Beach play </b>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="~/Home/Index">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Beach play </span>
                </p>

            </div>
        </div>
    </div>
</section>
            </br>

<!-- Section for the Water Activities-->
<section class="ftco-section sectionMargin sectionFont ">
    <div class="container">
        <div class=" wrap-about ftco-animate">

            <p style="font-size: 25px;color:#000;">
                Hello Hunters, are you looking for the beach sports and activities?
                Well, some of them are same as the ground sports but they come with safer
                and funnier way than the original ones while other lets you seek adventures that open your mind.
            </p>
            <div class="heading-section pr-md-5 " style="        color: #232020 !important;
>>>>>>> Stashed changes
        font-size: xxx-large;
        font-style: normal;
       font-family: sans-serif;">

<<<<<<< Updated upstream
                            <h2> Water Activities</h2>

                        </div>
                    </div>
                    <!-- Display the images in the form of row-->
                    <div class="row ">
                        <div class="col-md-12 ftco-animate">
                            <div class="row">
                                <!-- Provide function to open the the tab on clicking the image-->
                                <div class="col-md-4" style="text-align: center; cursor:pointer;" onclick="openAdventTab('c1');">
                                    <img class="myLinkClass " src="~/images/swimming.jpg" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Swimming">
                                    <div class=textonimage> <b>Swimming</b></div>
=======
                <h2> Water Activities</h2>

            </div>
        </div>
        <!-- Display the images in the form of row-->
        <div class="row ">
            <div class="col-md-12 ftco-animate">
                <div class="row">
                    <!-- Provide function to open the the tab on clicking the image-->
                    <div class=" col-4 col-md-4" style="text-align: center; cursor:pointer;" onclick="openAdventTab('c1');">
                        <img class="myLinkClass " src="~/images/swimming.jpg" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Swimming">
                        <div class=textonimage> <b>Swimming</b></div>

                    </div>
                    <div class=" col-4 col-md-4" style=" text-align: center ;cursor: pointer;" onclick="openAdventTab('c2');">
                        <img class="myLinkClass " src="~/images/Paddling board.jpg" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Paddle Boarding">
                        <div class=textonimage>
                            <b>Paddle-Boarding</b>

                        </div>
                    </div>
                    <div class=" col-4 col-md-4 " style="text-align: center; cursor:pointer;" onclick="openAdventTab('c3');">
                        <img class="myLinkClass " src="~/images/skokelling.jpg" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Snorkelling">
                        <div class=textonimage>
                            <b>Snorkelling</b>
                        </div>
                    </div>
                    <!--The information inside the advent tab-->
                    <div id="information">
                        <div id="c1" class="adventContainerTab" style="        display: none;
        background: rgb(160, 220, 236);
        padding: 20px">
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>Swimming</b></h1>
                            <p>
                                Melburnians love their free time at the beach.
                                Water sports such as beach swimming, paddle boarding, and snorkelling provide them with a cherished chance to
                                enjoy the blue sky and ocean. In fact, it is essential for children to know and learn beach swimming.
                                Beach swimming is almost one of the indispensable outdoor aquatic sports in the life of children in Melbourne.
                                Beach swimming turns the ocean into a natural playground for children to enjoy nature.
                                It enables children to learn to respect the ocean, appreciate its power and majesty, explore their own limits,
                                develop their survival skills in open water and swim in the waves,
                                and cultivate their confidence in their own abilities.

                            </p>

                            <b>Gear Required:</b>
                            <!--Provide customtooltip function-->
                            <div class="customtooltip1 ">
>>>>>>> Stashed changes

                                </div>
<<<<<<< Updated upstream
                                <div class="col-md-4" style=" text-align: center ;cursor: pointer;" onclick="openAdventTab('c2');">
                                    <img class="myLinkClass " src="~/images/Paddling board.jpg" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Paddle Boarding">
                                    <div class=textonimage>
                                        <b>Paddle-Boarding</b>

                                    </div>
                                </div>
                                <div class="col-md-4" style="text-align: center; cursor:pointer;" onclick="openAdventTab('c3');">
                                    <img class="myLinkClass " src="~/images/skokelling.jpg" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Snorkelling">
                                    <div class=textonimage>
                                        <b>Snorkelling</b>
                                    </div>
                                </div>
                                <!--The information inside the advent tab-->
                                <div id="information">
                                    <div id="c1" class="adventContainerTab" style="        display: none;
        background: rgb(160, 220, 236);
        padding: 20px">
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h1><b>Swimming</b></h1>
                                        <p>
                                            Melburnians love their free time at the beach.
                                            Water sports such as beach swimming, paddle boarding, and snorkelling provide them with a cherished chance to
                                            enjoy the blue sky and ocean. In fact, it is essential for children to know and learn beach swimming.
                                            Beach swimming is almost one of the indispensable outdoor aquatic sports in the life of children in Melbourne.
                                            Beach swimming turns the ocean into a natural playground for children to enjoy nature.
                                            It enables children to learn to respect the ocean, appreciate its power and majesty, explore their own limits,
                                            develop their survival skills in open water and swim in the waves,
                                            and cultivate their confidence in their own abilities.

                                        </p>

                                        <b>gear Required:</b>
                                        <!--Provide customtooltip function-->
                                        <div class="customtooltip1 ">

                                            <img src="~/images/beach.png" alt="swimsuit_beachnox" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                SwimSuits
                                            </div>
                                            <!--The text inside the tooltip and the font styling-->
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>SwimSuit</b></h3>
                                                A swimsuit is an essential garment for water sports or water sports</br> such as swimming, diving, surfing.
                                                Men, women and children often wear different styles. </br>There are many styles to choose from, and they vary
                                                in coverage and material.
                                            </span>
                                        </div>
                                        <!--Provide customtooltip function-->
                                        <div class="customtooltip1">

                                            <img src="~/images/rubber-ring.png" alt="floating_suits" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Floating Suits
                                            </div>
                                            <!--The text inside the tooltip and the font styling-->
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Floatation Suit</b></h3>
                                                The floatation suit provides additional protection and is designed</br> to build confidence and comfort in the water.
                                                These swimsuits are made of buoyancy foam,</br> which not only helps children stay afloat in the water,
                                                </br>but also helps children develop important swimming skills at beaches.
                                            </span>
                                        </div>
                                        <!--Provide customtooltip function-->
                                        <div class="customtooltip1">

                                            <img src="~/images/long-sleeve.png" alt="rash_guards" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Rash Guards
                                            </div>
                                            <!--The text inside the tooltip and the font styling-->
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Rash Guard</b></h3>
                                                Rash Guards are designed to be worn over swimsuits to</br> provide additional sun protection and
                                                is a necessity for children with sensitive skin.</br> Long-sleeved rash Guard provides greater protection
                                                and coverage, while </br>short-sleeved options may be comfortable to wear during summer.

                                            </span>
                                        </div>
                                        <!--Provide customtooltip function-->
                                        <div class="customtooltip1">

                                            <img src="~/images/goggles_bx.png" alt="goggles" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Goggles
                                            </div>
                                            <!--The text inside the tooltip and the font styling-->
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Goggles</b></h3>
                                                Goggles are a necessary for swimmers and can</br> protect a child's eyes from itching.
                                                </br>Besides, they provide better visibility and prevent water from entering eyes.

                                            </span>
                                        </div>
                                        <!--Provide customtooltip function-->
                                        <div class="customtooltip1">

                                            <img src="~/images/swimming 8.png" alt="swimming_caps" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Swimming Caps
                                            </div>
                                            <!--The text inside the tooltip and the font styling-->
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Swimming Caps</b></h3>
                                                Swimming caps keep hair away from the face,</br> reducing drag and increasing hydrodynamics.
                                                </br> In open water, the cap makes it easier for other athletes </br>and rescuers to see the swimmer.
                                            </span>
                                        </div>
                                        <!--Provide customtooltip function-->
                                        <div class="customtooltip1">

                                            <img src="~/images/ear-plug.png" alt="earplugs" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Ear Plugs
                                            </div>
                                            <!--The text inside the tooltip and the font styling-->
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>EarPlugs</b></h3>
                                                Earplugs are designed according to the shape of </br>the ear canal.It creates a tight seal to</br> prevent water from entering the canal.
                                                This allows children</br> to swim comfortably without choking on the water.
                                            </span>
                                        </div>
                                        <!--Provide customtooltip function-->
                                        <div class="customtooltip1">

                                            <img src="~/images/towel 5.png" alt="Towel" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Towel
                                            </div>
                                            <!--The text inside the tooltip and the font styling-->
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Towels</b></h3>
                                                Keep a fluffy towel handy to help your child
                                                </br>stay dry quickly after swimming.
                                            </span>
                                        </div>

                                        </br>
                                        <p>
                                            <b>Skills Achieved:</b>Basic swimming survival skills, including float, move through the water
                                            and control breathing under the water, Water and Beach Safety Knowledge.
                                        </p>
=======
                                <!--The text inside the tooltip and the font styling-->
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>SwimSuit</b></h3>
                                    A swimsuit is an essential garment for water sports or water sports</br> such as swimming, diving, surfing.
                                    Men, women and children often wear different styles. </br>There are many styles to choose from, and they vary
                                    in coverage and material.
                                </span>
                            </div>
                            <!--Provide customtooltip function-->
                            <div class="customtooltip1">

                                <img src="~/images/rubber-ring.png" alt="floating_suits" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Floating Suits
                                </div>
                                <!--The text inside the tooltip and the font styling-->
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Floatation Suit</b></h3>
                                    The floatation suit provides additional protection and is designed</br> to build confidence and comfort in the water.
                                    These swimsuits are made of buoyancy foam,</br> which not only helps children stay afloat in the water,
                                    </br>but also helps children develop important swimming skills at beaches.
                                </span>
                            </div>
                            <!--Provide customtooltip function-->
                            <div class="customtooltip1">

                                <img src="~/images/long-sleeve.png" alt="rash_guards" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Rash Guards
                                </div>
                                <!--The text inside the tooltip and the font styling-->
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Rash Guard</b></h3>
                                    Rash Guards are designed to be worn over swimsuits to</br> provide additional sun protection and
                                    is a necessity for children with sensitive skin.</br> Long-sleeved rash Guard provides greater protection
                                    and coverage, while </br>short-sleeved options may be comfortable to wear during summer.

                                </span>
                            </div>
                            <!--Provide customtooltip function-->
                            <div class="customtooltip1">

                                <img src="~/images/goggles_bx.png" alt="goggles" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Goggles
                                </div>
                                <!--The text inside the tooltip and the font styling-->
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Goggles</b></h3>
                                    Goggles are a necessary for swimmers and can</br> protect a child's eyes from itching.
                                    </br>Besides, they provide better visibility and prevent water from entering eyes.

                                </span>
                            </div>
                            <!--Provide customtooltip function-->
                            <div class="customtooltip1">

                                <img src="~/images/swimming 8.png" alt="swimming_caps" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Swimming Caps
                                </div>
                                <!--The text inside the tooltip and the font styling-->
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Swimming Caps</b></h3>
                                    Swimming caps keep hair away from the face,</br> reducing drag and increasing hydrodynamics.
                                    </br> In open water, the cap makes it easier for other athletes </br>and rescuers to see the swimmer.
                                </span>
                            </div>
                            <!--Provide customtooltip function-->
                            <div class="customtooltip1">

                                <img src="~/images/ear-plug.png" alt="earplugs" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Ear Plugs
                                </div>
                                <!--The text inside the tooltip and the font styling-->
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>EarPlugs</b></h3>
                                    Earplugs are designed according to the shape of </br>the ear canal.It creates a tight seal to</br> prevent water from entering the canal.
                                    This allows children</br> to swim comfortably without choking on the water.
                                </span>
                            </div>
                            <!--Provide customtooltip function-->
                            <div class="customtooltip1">

                                <img src="~/images/towel 5.png" alt="Towel" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Towel
                                </div>
                                <!--The text inside the tooltip and the font styling-->
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Towels</b></h3>
                                    Keep a fluffy towel handy to help your child
                                    </br>stay dry quickly after swimming.
                                </span>
                            </div>

                            </br>
                            <p>
                                <b>Skills Achieved:</b>Basic swimming survival skills, including float, move through the water
                                and control breathing under the water, Water and Beach Safety Knowledge.
                            </p>
>>>>>>> Stashed changes

                                    </div>

                                    <div id="c2" class="adventContainerTab" style="        display: none;
        background: rgb(85, 181, 171);
        padding: 20px">
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h1>
                                            <b>
                                                Paddle Boarding
                                            </b>

                                        </h1>
                                        <p>
                                            Stand-up Paddle boarding(SUP) is an aquatic sport that everyone can enjoy, no matter your age, ability or size.
                                            It is easy to learn, relax, adventurous, fun, and safe as well as has quickly become one of the fastest growing
                                            leisure sports in Australia. Not only does it give your whole body the perfect workout to improve balance,
                                            coordination, strength and endurance, but it also relieves stress, elevates spirits, and invites you to participate
                                            in a kind of aquatic adventure and exploration. Stand-up Paddle boarding(SUP) is a great way for children to get out
                                            and experience nature, and they're gentler than surfing. All you need is a little balance!


                                        </p>
                                        </br><b>gear Required:</b>
                                        <div class="customtooltip1">

                                            <img src="~/images/leash (1).png" alt="paddle Leash" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Paddle Leash
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Paddle Leash</b></h3>
                                                The main purpose of the paddle leash is to keep the paddle</br> in contact with the board.
                                                Make sure your paddle is securely attached to your board.

                                            </span>
                                        </div>

                                        <div class="customtooltip1">

                                            <img src="~/images/paddle-board 1.png" alt="SUP_Paddle" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Paddle Board
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Paddle Board</b></h3>
                                                Choosing the right paddle and board is essential for a child to </br> participate in vertical paddle surfing,
                                                </br> which helps him to keep his balance and stay out of the water.
                                            </span>
                                        </div>

                                        <div class="customtooltip1">

                                            <img src="~/images/life-jacket.png" alt="LifeJackets" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Life Jackets
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Life Jackets</b></h3>
                                                Life jacket is one of the most important safety equipment.</br>
                                                They are designed to ensure that children can float, automatically </br>turn you into a
                                                face-up position,keep your mouth </br>and nostrils out of the water to prevent the risk
                                                </br>of drowning, and save your life in an emergency.
                                            </span>
                                        </div>

                                        <div class="customtooltip1">

                                            <img src="~/images/cap.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Paddle Hat
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Paddle Hat</b></h3>
                                                This lightweight, breathable hat, specially </br>designed for oarsmen,
                                                has mesh side panels and a full brim for </br>sun protection and UV radiation.
                                                Children can adjust the back buckle to make it more comfortable.
                                            </span>
                                        </div>

                                        <div class="customtooltip1">

                                            <img src="~/images/sunscreen 1.png" alt="SunScreen" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                SunScreen
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Sunscreen</b></h3>
                                                The hot sun shines on the beach during the day.</br>
                                                Prolonged exposure to high temperatures</br> or ultraviolet light can be harmful.
                                                </br>To protect your skin from burns, apply sunscreen to your skin before starting
                                                </br>a stand-up paddle boarding trip.
                                            </span>
                                        </div>
                                        <p>
                                            <b>Skills Achieved:</b>
                                            Basic Balance Skills, Basic Paddle/Stroke Techniques, Beach and Water Safety Knowledge

                                        </p>

                                    </div>

<<<<<<< Updated upstream
                                    <div id="c3" class="adventContainerTab" style="        display: none;
        background: rgb(241 160 63);
        padding: 20px">
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b><b>Snorkelling</b></b></h2>
                                        <p>
                                            If you want to experience the wonders hidden in Melbourne underwater, you should not skip snorkelling.
                                            It is a kind of swimming on or through a body of water. While snorkelling, it becomes mandatory to put
                                            the snorkel (breathing tube) and a diving mask. This activity provides you an amazing opportunity to observe
                                            underwater life. Since it does not require any extra effort, the activity is appealing to all ages.
                                            Famous places in Melbourne to engage with snorkelling are, Mornington Peninsula, Blairgowrie Pier, Diamond Bay,
                                            Rye Pier, Williamstown Beach and Shelly Beach. It is advised to always snorkel with a buddy to ensure each other
                                            safety and avoid touching the underwater aquatic life.

                                        </p>
                                        </br><b>gear Required:</b>
                                        <div class="customtooltip1">

                                            <img src="~/images/mask (1).png" alt="snorkel" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Snorkel
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Snorkel</b></h3>
                                                An equipment used for breathing air from the surface of the water</br> when the head
                                                is completely submerged in the water.

                                            </span>
                                        </div>

                                        <div class="customtooltip1">

                                            <img src="~/images/goggles_(1).png" alt="diving mask" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Diving Mask
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b> Diving Mask</b></h3>
                                                Wearing one, makes it easy for snorkeler to see </br>clearly underwater if going deep underwater.
                                            </span>
                                        </div>

                                        <div class="customtooltip1">

                                            <img src="~/images/flippers.png" alt="Swim Fins" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Swim Fins
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Swim Fins</b></h3>
                                                An accessory made of rubber or plastic and worn on foot to aid
                                                </br>the movement through water in activities like snorkelling, scuba diving etc.
                                            </span>
                                        </div>

                                        <div class="customtooltip1">

                                            <img src="~/images/wetsuit.png" alt="wetsuits" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Wetsuits
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>WetSuits</b></h3>
                                                For children specially, wearing the wetsuits is vital as it provides
                                                </br>insultation to keep the body warm and comfortable in cold ocean water.

                                            </span>
                                        </div>

                                        <div class="customtooltip1">

                                            <img src="~/images/hand-gloves.png" alt="Gloves" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Gloves
                                            </div>
                                            <span class="tooltiptext customToolFont ">
                                                <h3><b>Gloves</b></h3>
                                                They are optional for children to wear but in winters they</br> are very useful when body
                                                is in contact with extremely low temperatures.

                                            </span>
                                        </div>
                                        <p>
                                        <p>
                                            <b>Skills Achieved:</b>Basic swimming survival skills, including float, move through the water
                                            and control breathing under the water, Water and Beach Safety Knowledge.
                                        </p>
=======
                            </p>
                            </br><b>Gear Required:</b>
                            <div class="customtooltip1">

                                <img src="~/images/leash (1).png" alt="paddle Leash" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Paddle Leash
                                </div>
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Paddle Leash</b></h3>
                                    The main purpose of the paddle leash is to keep the paddle</br> in contact with the board.
                                    Make sure your paddle is securely attached to your board.

                                </span>
                            </div>

                            <div class="customtooltip1">

                                <img src="~/images/paddle-board 1.png" alt="SUP_Paddle" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Paddle Board
                                </div>
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Paddle Board</b></h3>
                                    Choosing the right paddle and board is essential for a child to </br> participate in vertical paddle surfing,
                                    </br> which helps him to keep his balance and stay out of the water.
                                </span>
                            </div>

                            <div class="customtooltip1">

                                <img src="~/images/life-jacket.png" alt="LifeJackets" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Life Jackets
                                </div>
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Life Jackets</b></h3>
                                    Life jacket is one of the most important safety equipment.</br>
                                    They are designed to ensure that children can float, automatically </br>turn you into a
                                    face-up position,keep your mouth </br>and nostrils out of the water to prevent the risk
                                    </br>of drowning, and save your life in an emergency.
                                </span>
                            </div>

                            <div class="customtooltip1">

                                <img src="~/images/cap.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Paddle Hat
                                </div>
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Paddle Hat</b></h3>
                                    This lightweight, breathable hat, specially </br>designed for oarsmen,
                                    has mesh side panels and a full brim for </br>sun protection and UV radiation.
                                    Children can adjust the back buckle to make it more comfortable.
                                </span>
                            </div>

                            <div class="customtooltip1">

                                <img src="~/images/sunscreen 1.png" alt="SunScreen" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    SunScreen
                                </div>
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Sunscreen</b></h3>
                                    The hot sun shines on the beach during the day.</br>
                                    Prolonged exposure to high temperatures</br> or ultraviolet light can be harmful.
                                    </br>To protect your skin from burns, apply sunscreen to your skin before starting
                                    </br>a stand-up paddle boarding trip.
                                </span>
                            </div>
                            <p>
                                <b>Skills Achieved:</b>
                                Basic Balance Skills, Basic Paddle/Stroke Techniques, Beach and Water Safety Knowledge

                            </p>

                        </div>

                        <div id="c3" class="adventContainerTab" style="        display: none;
        background: rgb(241 160 63);
        padding: 20px">
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>Snorkelling</b></h1>
                            <p>
                                If you want to experience the wonders hidden in Melbourne underwater, you should not skip snorkelling.
                                It is a kind of swimming on or through a body of water. While snorkelling, it becomes mandatory to put
                                the snorkel (breathing tube) and a diving mask. This activity provides you an amazing opportunity to observe
                                underwater life. Since it does not require any extra effort, the activity is appealing to all ages.
                                Famous places in Melbourne to engage with snorkelling are, Mornington Peninsula, Blairgowrie Pier, Diamond Bay,
                                Rye Pier, Williamstown Beach and Shelly Beach. It is advised to always snorkel with a buddy to ensure each other
                                safety and avoid touching the underwater aquatic life.

                            </p>
                            </br><b>Gear Required:</b>
                            <div class="customtooltip1">

                                <img src="~/images/mask (1).png" alt="snorkel" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Snorkel
                                </div>
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Snorkel</b></h3>
                                    An equipment used for breathing air from the surface of the water</br> when the head
                                    is completely submerged in the water.

                                </span>
                            </div>

                            <div class="customtooltip1">

                                <img src="~/images/goggles_(1).png" alt="diving mask" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Diving Mask
                                </div>
                                <span class="tooltiptext customToolFont ">
                                    <h3><b> Diving Mask</b></h3>
                                    Wearing one, makes it easy for snorkeler to see </br>clearly underwater if going deep underwater.
                                </span>
                            </div>

                            <div class="customtooltip1">

                                <img src="~/images/flippers.png" alt="Swim Fins" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Swim Fins
                                </div>
                                <span class="tooltiptext customToolFont ">
                                    <h3><b>Swim Fins</b></h3>
                                    An accessory made of rubber or plastic and worn on foot to aid
                                    </br>the movement through water in activities like snorkelling, scuba diving etc.
                                </span>
                            </div>

                            <div class="customtooltip1">
>>>>>>> Stashed changes



                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>


            </section>

<<<<<<< Updated upstream
            <!-- Section for the Shore Activities-->
            <section class="ftco-section sectionMargin sectionFont ">
                <div class="container">
                    <div class=" wrap-about ftco-animate">
                        <div class="heading-section pr-md-5 " style="color: #232020 !important;
=======
<!-- Section for the Shore Activities-->
<section class="ftco-section sectionMargin sectionFont ">
    <div class="container">
        <div class=" wrap-about ftco-animate">
            <div class="heading-section pr-md-5 " style="color: #232020 !important;
>>>>>>> Stashed changes
        font-size: xxx-large;
        font-style: normal;
       font-family: sans-serif;
">


                            <h2>  Shore Activities</h2>


<<<<<<< Updated upstream

=======
                    <div class=" col-3 col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo1('d1');">
                        <img class="myLinkClass " src="~/images/sandsun/treasure hunt.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Scavanger Hunt">
                        <div class=textonimage> <b> Scavanger Hunt</b></div>

                    </div>
                    <div class="  col-3 col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo1('d2');">
                        <img class="myLinkClass " src="~/images/sandsun/sandcastle.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Sand Forts/Castles">
                        <div class=textonimage> <b> Sand Forts/Castles</b> </div>

                    </div>
                    <div class=" col-3 col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo1('d3');">
                        <img class="myLinkClass " src="~/images/sandsun/volley.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Beach VolleyBall">
                        <div class=textonimage>  <b>Beach VolleyBall</b></div>

                    </div>
                    <div class=" col-3 col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo1('d4');">
                        <img class="myLinkClass " src="~/images/sandsun/sandsational.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="SandSational">
                        <div class=textonimage>
                            <b> SandSational</b>
>>>>>>> Stashed changes

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-14 ftco-animate ">
                            <div class="row ">

                                <div class="col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo1('d1');">
                                    <img class="myLinkClass " src="~/images/sandsun/treasure hunt.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Scavanger Hunt">
                                    <div class=textonimage> <b> Scavanger Hunt</b></div>

<<<<<<< Updated upstream
                                </div>
                                <div class="col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo1('d2');">
                                    <img class="myLinkClass " src="~/images/sandsun/sandcastle.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Sand Forts/Castles">
                                    <div class=textonimage> <b> Sand Forts/Castles</b> </div>
=======
                    <div id="information">
                        <div id="d1" class="sandInfo1" style="        display: none;
        background: rgb(200 175 81);
        padding: 20px">
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>Beach Scavenger Hunt</b></h1>
                            <p>Hello explorer, we know you want to hunt the treasures of the beach. Well, go for a treasure hunt. Make sure, you have an adult who needs to host the hunt. He/she need to supply every participant with a list on paper and either a bucket or carrying container in which participant will keep the collected treasures. The list items can vary for different age groups like shells, crabs, wood, feather, etc. Let the host count the points in the end and announce the winner.</p>
                            <p><b>Tools Required:</b> A beach bucket to collect the treasures and list on paper of items (to be provided by an adult) </p>
                            <div class="customtooltip2">

                                <img src="~/images/sandsun_tools/bucket.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                <div class="desc" style="font-size: medium;text-align: center;">
                                    Bucket
                                </div>

                            </div>
                            <p>
                                <b>Skills Achieved:</b> Observational skills.

                            </p>
                        </div>

                        <div id="d2" class="sandInfo1" style="        display: none;
        background: rgb(187 158 145);
        padding: 20px">
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>Sand Forts/Castles</b></h1>
                            <p>Without even digging the sand and then creating the castles or forts, is the beach trip complete. And why to restrict just to forts and castles, let your imagination come out and run wild and feel free to create whatever you desire and think. If building anything closer to water, oh dear make sure to click the photographs of your art before the waves wash them away.</p>

                            <p>
                                <b>Tools Required:</b> Shovels, buckets, sticks etc
                                <div class="customtooltip2">

                                    <img src="~/images/sandsun_tools/bucket.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                    <div class="desc" style="font-size: medium;text-align: center;">
                                        Bucket
                                    </div>
>>>>>>> Stashed changes

                                </div>
                                <div class="col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo1('d3');">
                                    <img class="myLinkClass " src="~/images/sandsun/volley.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Beach VolleyBall">
                                    <div class=textonimage>  <b>Beach VolleyBall</b></div>

                                </div>
                                <div class="col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo1('d4');">
                                    <img class="myLinkClass " src="~/images/sandsun/sandsational.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="SandSational">
                                    <div class=textonimage>
                                        <b> SandSational</b>

                                    </div>

                                </div>
<<<<<<< Updated upstream
=======
                            </p>
                            <p><b>Skills Achieved:</b> Creative thinking. </p>
                        </div>
                        <div id="d3" class="sandInfo1" style="        display: none;
        background: rgb(224 186 127);
        padding: 20px">
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>Beach Volleyball</b></h1>
                            <p>It’s the perfect game to show your diving skills without getting hurt. For little one, the amazing part is you can even play with the beach ball and a towel (for net). Divide the teams and stand on the either sides of the net and then start you fun. Keep a count on the number of times you can throw the ball back and forth. Make sure you apply ample of sunscreen to avoid the UV rays. </p>
>>>>>>> Stashed changes


                                <div id="information">
                                    <div id="d1" class="sandInfo1" style="        display: none;
        background: rgb(200 175 81);
        padding: 20px">
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b>Beach Scavenger Hunt</b></h2>
                                        <p>Hello explorer, we know you want to hunt the treasures of the beach. Well, go for a treasure hunt. Make sure, you have an adult who needs to host the hunt. He/she need to supply every participant with a list on paper and either a bucket or carrying container in which participant will keep the collected treasures. The list items can vary for different age groups like shells, crabs, wood, feather, etc. Let the host count the points in the end and announce the winner.</p>
                                        <p><b>Tools Required:</b> A beach bucket to collect the treasures and list on paper of items (to be provided by an adult) </p>
                                        <div class="customtooltip2">

                                            <img src="~/images/sandsun_tools/bucket.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                            <div class="desc" style="font-size: medium;text-align: center;">
                                                Bucket
                                            </div>

                                        </div>
                                        <p>
                                            <b>Skills Achieved:</b> Observational skills.

                                        </p>
                                    </div>

                                    <div id="d2" class="sandInfo1" style="        display: none;
        background: rgb(187 158 145);
        padding: 20px">
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b>Sand Forts/Castles</b></h2>
                                        <p>Without even digging the sand and then creating the castles or forts, is the beach trip complete. And why to restrict just to forts and castles, let your imagination come out and run wild and feel free to create whatever you desire and think. If building anything closer to water, oh dear make sure to click the photographs of your art before the waves wash them away.</p>

                                        <p>
                                            <b>Tools Required:</b> Shovels, buckets, sticks etc
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/bucket.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Bucket
                                                </div>

                                            </div>
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/shovel.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Shovel
                                                </div>

                                            </div>
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/stick.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Stick
                                                </div>

                                            </div>
                                        </p>
                                        <p><b>Skills Achieved:</b> Creative thinking. </p>
                                    </div>
                                    <div id="d3" class="sandInfo1" style="        display: none;
        background: rgb(224 186 127);
        padding: 20px">
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b>Beach Volleyball</b></h2>
                                        <p>It’s the perfect game to show your diving skills without getting hurt. For little one, the amazing part is you can even play with the beach ball and a towel (for net). Divide the teams and stand on the either sides of the net and then start you fun. Keep a count on the number of times you can throw the ball back and forth. Make sure you apply ample of sunscreen to avoid the UV rays. </p>

                                        <p>
                                            <b>Tools Required:</b> Ball, net (some times patrolled beaches have nets set up)
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/beach-volleyball _ball.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Ball
                                                </div>

                                            </div>
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/volleyball net.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Net
                                                </div>

                                            </div>
                                        </p>
                                        <p>
                                            <b>Skills Achieved:</b> Throwing and Volleying
                                        </p>
                                    </div>
                                    <div id="d4" class="sandInfo1" style="        display: none;
        background: rgb(170 132 103);
        padding: 20px">
<<<<<<< Updated upstream
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b>SandSational</b></h2>
                                        <p>
                                            There is no better fun activity than digging in the sand to dig the deep holes and see if you or your friend can fit in the hole or see how long does it take to fill the hole with water. Always be careful while digging, some little aquatic animals would not like you to do so. Also, after you have finished the play, remember to fill the holes with the sand for safety purposes.
                                        </p>
                                        <p>
                                            <b>Tools Required:</b> Shovels and Buckets
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/bucket.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Bucket
                                                </div>

                                            </div>
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/shovel.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Shovel
                                                </div>

                                            </div>


                                        <p>
                                            <b>Skills Achieved:</b> Lowering and lifting objects
                                        </p>
=======
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>SandSational</b></h1>
                            <p>
                                There is no better fun activity than digging in the sand to dig the deep holes and see if you or your friend can fit in the hole or see how long does it take to fill the hole with water. Always be careful while digging, some little aquatic animals would not like you to do so. Also, after you have finished the play, remember to fill the holes with the sand for safety purposes.
                            </p>
                            <p>
                                <b>Tools Required:</b> Shovels and Buckets
                                <div class="customtooltip2">

                                    <img src="~/images/sandsun_tools/bucket.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                    <div class="desc" style="font-size: medium;text-align: center;">
                                        Bucket
>>>>>>> Stashed changes
                                    </div>


                                </div>


<<<<<<< Updated upstream
                                <div class="col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo2('d5');">
                                    <img class="myLinkClass " src="~/images/sandsun/Bucket race.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Bucket Race">
                                    <div class=textonimage><b>Bucket Race</b> </div>

                                </div>
                                <div class="col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo2('d6');">
                                    <img class="myLinkClass " src="~/images/sandsun/frisbee.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Frisbee">
                                    <div class=textonimage> <b>Frisbee</b> </div>

                                </div>
                                <div class="col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo2('d7');">
                                    <img class="myLinkClass " src="~/images/sandsun/tug.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Tug">
                                    <div class=textonimage> <b> Tug Of War</b> </div>

                                </div>
                                <div class="col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo2('d8');">
                                    <img class="myLinkClass " src="~/images/sandsun/Hopscotch.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Hopscotch">
                                    <div class=textonimage> <b>HopScotch</b></div>
=======
                            <p>
                                <b>Skills Achieved:</b> Lowering and lifting objects
                            </p>
                        </div>


                    </div>


                    <div class=" col-3 col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo2('d5');">
                        <img class="myLinkClass " src="~/images/sandsun/Bucket race.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Bucket Race">
                        <div class=textonimage><b>Bucket Race</b> </div>

                    </div>
                    <div class=" col-3 col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo2('d6');">
                        <img class="myLinkClass " src="~/images/sandsun/frisbee.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Frisbee">
                        <div class=textonimage> <b>Frisbee</b> </div>

                    </div>
                    <div class=" col-3 col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo2('d7');">
                        <img class="myLinkClass " src="~/images/sandsun/tug.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Tug">
                        <div class=textonimage> <b> Tug Of War</b> </div>

                    </div>
                    <div class=" col-3 col-md-3" style="text-align: center; cursor:pointer;" onclick="openSandInfo2('d8');">
                        <img class="myLinkClass " src="~/images/sandsun/Hopscotch.png" width="99%" height="99%" style="     box-shadow: 10px 10px 5px #c1b4b485 " alt="Hopscotch">
                        <div class=textonimage> <b>HopScotch</b></div>
>>>>>>> Stashed changes

                                </div>
                                <div id="information">

                                    <div id="d5" class="sandInfo2" style="        display: none;
        background: rgb(221 196 134);
        padding: 20px">
<<<<<<< Updated upstream
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b>Bucket Race</b></h2>
                                        <p>
                                            Hello children, don’t you love relay races. Well a water bucket relay is the race you can not skip.
                                            Grab your plastic cups or small containers and run to the water, fill your carrying containers and rush to empty
                                            it in the bucket. No matter how hard you try, you can not stop the water from spilling while you laugh and run.
                                        </p>
                                        <p>
                                            <b>Tools Required:</b> A Bucket and Carrying cup/container
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/bucket.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Bucket
                                                </div>

                                            </div>
                                        <p>
                                            <b>Skills Achieved:</b> Balance
                                        </p>
=======
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>Bucket Race</b></h1>
                            <p>
                                Hello children, don’t you love relay races. Well a water bucket relay is the race you can not skip.
                                Grab your plastic cups or small containers and run to the water, fill your carrying containers and rush to empty
                                it in the bucket. No matter how hard you try, you can not stop the water from spilling while you laugh and run.
                            </p>
                            <p>
                                <b>Tools Required:</b> A Bucket and Carrying cup/container
                                <div class="customtooltip2">

                                    <img src="~/images/sandsun_tools/bucket.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                    <div class="desc" style="font-size: medium;text-align: center;">
                                        Bucket
>>>>>>> Stashed changes
                                    </div>
                                    <div id="d6" class="sandInfo2" style="        display: none;
        background: rgb(216 196 187);
        padding: 20px">
<<<<<<< Updated upstream
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b>Beach Frisbee</b></h2>
                                        <p>
                                            We know how much you love playing frisbee golf, so why not to play at beach with your friends.
                                            You can set the targets using the items you are carrying to the beach like an umbrella, bag packs etc.
                                            Throw your frisbee as close to
                                            the target turn by turn. Remember to give smaller kids an advantage by allowing them to throw from a closer distance.
                                        </p>
                                        <p>
                                            <b>Tools Required:</b> Frisbees
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/frisbee.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Frisbee
                                                </div>

                                            </div>
                                        </p>
                                        <p>
                                        <p>
                                            <b>Skills Achieved:</b> Throwing and Aiming
                                        </p>
=======
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>Beach Frisbee</b></h1>
                            <p>
                                We know how much you love playing frisbee golf, so why not to play at beach with your friends.
                                You can set the targets using the items you are carrying to the beach like an umbrella, bag packs etc.
                                Throw your frisbee as close to
                                the target turn by turn. Remember to give smaller kids an advantage by allowing them to throw from a closer distance.
                            </p>
                            <p>
                                <b>Tools Required:</b> Frisbees
                                <div class="customtooltip2">

                                    <img src="~/images/sandsun_tools/frisbee.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                    <div class="desc" style="font-size: medium;text-align: center;">
                                        Frisbee
>>>>>>> Stashed changes
                                    </div>
                                    <div id="d7" class="sandInfo2" style="        display: none;
        background: #c9a46e;
        padding: 20px">
<<<<<<< Updated upstream
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b>Tug of War</b></h2>
                                        <p>
                                            This is where you want to impress your friends by showing your muscle strength. You can use a rope or towels knotted together and teams can stand at the water’s edge. This is fun and safe because even you know you are prepared to end up in the water.
                                        </p>
                                        <p>
                                            <b>Tools Required:</b> Rope or Towels

                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/rope.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Rope
                                                </div>

                                            </div>
                                            <div class="customtooltip2">

                                                <img src="~/images/sandsun_tools/towel.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                                <div class="desc" style="font-size: medium;text-align: center;">
                                                    Towel
                                                </div>

                                            </div>
                                        </p>

                                        <p>
                                            <b>Skills Achieved:</b> Balance
                                        </p>
=======
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b>Tug of War</b></h1>
                            <p>
                                This is where you want to impress your friends by showing your muscle strength. You can use a rope or towels knotted together and teams can stand at the water’s edge. This is fun and safe because even you know you are prepared to end up in the water.
                            </p>
                            <p>
                                <b>Tools Required:</b> Rope or Towels

                                <div class="customtooltip2">

                                    <img src="~/images/sandsun_tools/rope.png" alt="cap" width="60" height="40" style="vertical-align:middle;margin:0px 30px">
                                    <div class="desc" style="font-size: medium;text-align: center;">
                                        Rope
>>>>>>> Stashed changes
                                    </div>
                                    <div id="d8" class="sandInfo2" style="        display: none; background:#d0dbe6; padding: 20px">
                                        <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                                        <h2><b> Sandy Hopscotch</b></h2>
                                        <p>
                                            Don’t you want to hop at the beach, then bring your regular hopscotch
                                            game to the beach. The grid is easy to set up, either use sticks or rocks
                                            and draw a grid on the sand and for markers, you can use pebbles or
                                            shells. Sand might be a little hot in summers, so do not forget to wear
                                            your flip flops.
                                        </p>
                                        <p><b>Tools Required:</b> Throwing and Hoping </p>

                                        <p>
                                            Skills Achieved: Throwing and HopingObservational skills.

                                        </p>
                                    </div>

<<<<<<< Updated upstream
=======
                                </div>
                            </p>

                            <p>
                                <b>Skills Achieved:</b> Balance
                            </p>
                        </div>
                        <div id="d8" class="sandInfo2" style="        display: none; background:#d0dbe6; padding: 20px">
                            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                            <h1><b> Sandy Hopscotch</b></h1>
                            <p>
                                Don’t you want to hop at the beach, then bring your regular hopscotch
                                game to the beach. The grid is easy to set up, either use sticks or rocks
                                and draw a grid on the sand and for markers, you can use pebbles or
                                shells. Sand might be a little hot in summers, so do not forget to wear
                                your flip flops.
                            </p>
                            <p><b>Tools Required:</b> Throwing and Hoping </p>

                            <p>
                                Skills Achieved: Throwing and HopingObservational skills.

                            </p>
                        </div>

>>>>>>> Stashed changes




                                </div>
                            </div>
                        </div>
                    </div>
<<<<<<< Updated upstream


                </div>
            </section>

            <!--Includes the Javascript and the function-->
            <script>//Javascript to open the hidden container for water activities
                function openAdventTab(tabName) {
                    var k, x;
                    x = document.getElementsByClassName("adventContainerTab");
                    for (k = 0; k < x.length; k++) {
                        x[k].style.display = "none";
                    }
                    document.getElementById(tabName).style.display = "block";
                }
                //Javascript to open the hidden container for shore activities part 1

                function openSandInfo1(tabName) {
                    var k, x;
                    x = document.getElementsByClassName("sandInfo1");
                    for (k = 0; k < x.length; k++) {
                        x[k].style.display = "none";
                    }
                    document.getElementById(tabName).style.display = "block";
                }

                //Javascript to open the hidden container for shore activities part 2

                function openSandInfo2(tabName) {
                    var k, x;
                    x = document.getElementsByClassName("sandInfo2");
                    for (k = 0; k < x.length; k++) {
                        x[k].style.display = "none";
                    }
                    document.getElementById(tabName).style.display = "block";
                }

                // When the user scrolls down 20px from the top of the document, show the button

                window.onscroll = function () { scrollFunction() };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        mybutton.style.display = "block";
                    } else {
                        mybutton.style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document

                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }</script>

=======
                </div>
            </div>
        </div>


    </div>
</section>

<!--Includes the Javascript and the function-->
<script>//Javascript to open the hidden container for water activities
    function openAdventTab(tabName) {
        var k, x;
        x = document.getElementsByClassName("adventContainerTab");
        for (k = 0; k < x.length; k++) {
            x[k].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
    }
    //Javascript to open the hidden container for shore activities part 1

    function openSandInfo1(tabName) {
        var k, x;
        x = document.getElementsByClassName("sandInfo1");
        for (k = 0; k < x.length; k++) {
            x[k].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
    }

    //Javascript to open the hidden container for shore activities part 2

    function openSandInfo2(tabName) {
        var k, x;
        x = document.getElementsByClassName("sandInfo2");
        for (k = 0; k < x.length; k++) {
            x[k].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
    }

    // When the user scrolls down 20px from the top of the document, show the button

    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }</script>

>>>>>>> Stashed changes
