<style type="text/css">
    .myLinkClass:hover {
        opacity: 0.7;
    }


    img {
        vertical-align: middle;
    }


    .cursor {
        cursor: pointer;
    }

 

  

    #myBtn {
        display: none;
        position: fixed;
        bottom: 100px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #555;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

      #myBtn:hover {
            background-color: #555;
        }


    .img-cs {
        width: 10%;
        height: 15%;
        float: left;
        margin-left: 20px;
    }
</style>


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/beach_info.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="../Index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Beach safety <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-3 bread">Bucket Full of Safety</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class=" wrap-about py-md-5 ftco-animate">
            <div class="heading-section pr-md-5">
                <p class=" mb-3" style="font-size: 20px;">
                    Who does not like summers and for the Melburnians that means fun-filled family days at beaches like St Kilda or Brighton and soaking up all that sun, sand and salty sea air goodness. For the precious little ones, beach day is all about sand castles, buckets and spades, snacks and the list goes on.
                    But remember dear, before you dive or play at the beaches, you need to have a good grasp on the water safety strategies.
                </p>
            </div>
        </div>



        <div class="row">
            <div class=col-md-1>

            </div>

            <div class="col-md-2 d-flex align-items-stretch ftco-animate cursor:pointer;" onclick="openAdventTab('c1');">
                <a href="#point1">
                    <div class="media block-6 services d-block text-center px-3 pb-4">

                        <img class="myLinkClass " src="~/images/inforIcon1.png" width="110%" height="110%">

                    </div>
                </a>
            </div>
            <div class="col-md-2 d-flex align-items-stretch ftco-animate cursor:pointer;" onclick="openAdventTab('c3');">
                <a href="#point2">
                    <div class="media block-6 services d-block text-center px-3 pb-4">

                        <img class="myLinkClass " src="~/images/inforIcon3.png" width="110%" height="110%">


                    </div>
                </a>
            </div>

            <div class="col-md-2 d-flex align-items-stretch ftco-animate cursor:pointer;" onclick="openAdventTab('c4');">
                <div class="media block-6 services d-block text-center px-3 pb-4">


                    <img class="myLinkClass " src="~/images/inforIcon5.png" width="95%" height="95%" />



                </div>
            </div>

            <div class="col-md-2 d-flex align-items-stretch ftco-animate cursor:pointer;" onclick="openAdventTab('c2');">
                <div class="media block-6 services d-block text-center px-3 pb-4">

                    <img class="myLinkClass " src="~/images/inforIcon2.png" width="120%" height="120%">

                </div>
            </div>
            <div class="col-md-2 d-flex align-items-stretch ftco-animate cursor:pointer;">
                <div class="media block-6 services d-block text-center px-3 pb-4">

                    <a href="../Home/Quiz">
                        <img class="myLinkClass " src="~/images/inforIcon4.png" width="110%" height="100%" />
                    </a>

                </div>
            </div>
            <div class=col-md-1>

            </div>

        </div>
        <div class="row">
            <div class=col-md-1>

            </div>
            <div class=col-md-2 style="text-align: center;">
                <p style="color:#7daec5;font-size: 20px;">
                    Safety Tips
                </p>
            </div>
            <div class=col-md-2 style="text-align: center;">
                <p style="color:#7daec5;font-size: 20px;">
                    CPR
                </p>
            </div>
            <div class=col-md-2 style="text-align: center;">
                <p style="color:#7daec5;font-size: 20px;">
                    Safety from Aquatic Life
                </p>
            </div>
            <div class=col-md-2 style="text-align: center;">
                <p style="color:#7daec5;font-size: 20px;">
                    Safety Signal
                </p>
            </div>
            <div class=col-md-2 style="text-align: center;">
                <p style="color:#7daec5;font-size: 20px;">
                    Test your Knowlage
                </p>
            </div>
            <div class=col-md-1>

            </div>


        </div>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#7daec5 SIZE=3>

        <div class="col-md-12 ftco-animate">


            <div id="information">
                <!--<div id="c1" class="adventContainerTab" style=" display: none;padding: 20px">
            <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
            <div class="row">
                <div id="point1" class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/1.png" width="99%" height="99%">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/2.png" width="99%" height="99%">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/3.png" width="99%" height="99%">
                </div>

            </div>
            <p><br /></p>

            <div class="row">
                <div class="col-md-3" style="text-align: center;">
                    <img src="~/images/infor/4.png" width="99%" height="99%">
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <img src="~/images/infor/5.png" width="99%" height="99%">
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <img src="~/images/infor/6.png" width="99%" height="99%">
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <img src="~/images/infor/7.png" width="99%" height="99%">
                </div>
            </div>
            <p><br /></p>

            <div class="row">

                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/8.png" width="99%" height="99%">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/9.png" width="99%" height="99%">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/10.png" width="99%" height="99%">
                </div>
            </div>
            <p><br /></p>
            <div class="row">

                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/11.png" width="99%" height="99%">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/12.png" width="99%" height="99%">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/13.png" width="99%" height="99%">
                </div>

            </div>
            <p><br /></p>
            <div class="row">

                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/14.png" width="99%" height="99%">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/15.png" width="99%" height="99%">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/images/infor/16.png" width="99%" height="99%">
                </div>

            </div>

            <p> <br /></p>-->
                @*<div class="">
                    <p class="mb-0">
                        <a href="~/Home/Quiz" class="btn btn-primary py-3 px-2 px-md-4">Test Your Knowledge</a>
                    </p>
                </div>*@

                <!--</div>-->

                <div id="c1" class="adventContainerTab" style=" display: none;padding: 20px">
                    <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>


                    <p style="font-size: 20px;">
                        Staying in patrolled beaches should be considered very important because the lifeguards are always around. If one chooses isolated places, it will take longer time for help to arrive.
                    </p>
                    <p style="font-size: 20px;">
                        Follow the rules, abide by instructions given by the lifeguards to make your beach trip safe and a memorable one.
                    </p>

                    <div class="row">
                        <div class="col-md-6" style="text-align: center;">
                            <img src="~/images/story/r1.png" width="100%" height="100%">
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <img src="~/images/story/r2.png" width="100%" height="100%">
                        </div>
                    </div>

                    <p></p>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#7daec5 SIZE=3>
                    <p></p>
                    <p style="font-size: 20px;">
                        It's necessary that children stay near places where there is more crowd. It will be easier for the lifeguards to spot if any incidents were to happen and can come to their aid  since they always keep an eye over the crowded place.
                    </p>
                    <p style="font-size: 20px;">
                        Also remember not to swim alone. Good swimmer or not it is best to always have a companion with you.
                    </p>

                    <div class="row">
                        <div class="col-md-4" style="text-align: center;">
                            <img src="~/images/story/r3.png" width="100%" height="100%">
                        </div>
                        <div class="col-md-8" style="text-align: center;">
                            <img src="~/images/story/r4.png" width="100%" height="100%">
                        </div>
                    </div>

                    <p></p>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#7daec5 SIZE=3>
                    <p></p>
                    <p style="font-size: 20px;">
                        The tide and the surf at the beaches can be very rough and unpredictable  and may change suddenly. It is advised to be aware at all times.
                    </p>
                    <p style="font-size: 20px;">
                        The water may seem deep, but avoid diving. The water may contain sandbars that are very hard to spot.
                    </p>
                    <p style="font-size: 20px;">
                        At difficult times, call out for help!
                    </p>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <img src="~/images/story/r5.png" width="100%" height="100%">
                        </div>

                    </div>
                    <p></p>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#7daec5 SIZE=3>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <img src="~/images/story/r6.png" width="100%" height="100%">
                        </div>

                    </div>
                    <p></p>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#7daec5 SIZE=3>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <img src="~/images/story/r7.png" width="100%" height="100%">
                        </div>

                    </div>

                </div>

                <div id="c2" class="adventContainerTab" style=" display: none;padding: 20px">
                    <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                    <p id="point2" style="font-size: 20px;">
                        Since the beach is a ever changing environment, it can be dangerous to ones who are unaware of the potential hazards. Safety signs and flags are put in place to aware/warn us about ongoing or permanent hazards that are present at the beaches. You should always look out for the beach safety sign board before you step into waters at any beach.
                    </p>

                    <details>
                        <summary style="color:#7daec5;font-size: 20px;">Beach safety flags</summary>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <img src="~/images/Sign/FlagsSafety.png" width="95%" height="95%">
                            </div>

                        </div>
                    </details>


                    <details>
                        <summary style="color:#7daec5;font-size: 20px;">Warning Signs</summary>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <img src="~/images/Sign/Warning Signs.png" width="95%" height="95%">
                            </div>
                        </div>
                    </details>


                    <details>
                        <summary style="color:#7daec5;font-size: 20px;">Regulatory Signs</summary>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <img src="~/images/Sign/Regulatory sign.png" width="95%" height="95%">
                            </div>
                        </div>


                    </details>

                    <p> <br /></p>

                </div>

                <div id="c3" class="adventContainerTab" style=" display: none;padding: 20px">
                    <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                    <p style="font-size: 20px;">
                        Attending some training about how to do CPR or other First Aid related courses, usually, local hospitals, fire departments and recreation departments offer CPR training.
                    </p>
                    <h5 class="mb-3" style="color:#7daec5;">CPR first steps: call for help and check airway</h5>
                    <div class="row">

                        <div class="col-md-4" style="text-align: center;">
                            <img src="../images/CPR/CPR1.gif" width="70%" height="70%">
                            <p>Remove child and yourself from any danger. If the child is unconscious, not responding or breathing abnormally, call an ambulance.</p>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <img src="../images/CPR/CPR2.gif" width="70%" height="70%">
                            <p>Check the child’s mouth for anything blocking the airway. This could include his tongue, food, vomit or blood.</p>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <img src="../images/CPR/CPR3.gif" width="70%" height="70%">
                            <p>If you find a blockage, roll the child onto his side, keeping his top leg bent. This is the recovery position. Clear blockages with your fingers, then check for breathing.</p>
                        </div>
                    </div>
                    <p></p>
                    <h5 class="mb-3" style="color:#7daec5;">Next CPR steps: breathing</h5>
                    <div class="row">
                        <div class="col-md-6" style="text-align: center;">
                            <img src="../images/CPR/CPR4.gif" width="60%" height="60%">
                            <p>If there are no blockages and/or you’ve cleared blockages, check for breathing. Look for chest movements, listen for breathing sounds, or feel for breath on your cheek.</p>
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <img src="~/images/CPR/CPR5.gif" width="60%" height="60%">
                            <p>Child breathing normally? Gently roll him onto his side and into the recovery position. Regularly check for breathing until the ambulance arrives.</p>
                            <p>Child not breathing? Child not responding or child breathing abnormally? Start CPR.</p>
                        </div>
                    </div>

                    <p></p>
                    <h5 class="mb-3" style="color:#7daec5;">CPR steps until help arrives: chest compressions and rescue breaths</h5>
                    <div class="row">
                        <div class="col-md-4" style="text-align: center;">
                            <img src="~/images/CPR/CPR7.gif" width="70%" height="70%">
                            <p>Put the heels of your hands in the centre of the child’s chest. Using the heel of your hand, give 30 compressions at a rate of 100-120 compressions per minute. Each compression should depress the chest by about one third.</p>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <img src="~/images/CPR/CPR8.gif" width="70%" height="70%">
                            <p>After 30 compressions, take a deep breath, seal your mouth over the child’s mouth, pinch his nose and give two steady breaths. Make sure the child’s head is tilted back to open his airway.</p>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <img src="~/images/CPR/CPR9.gif" width="70%" height="70%">
                            <p>Keep giving 30 compressions then 2 breaths until medical help arrives. If the child starts breathing and responding, turn him into the recovery position. Keep watching his breathing and be ready to start CPR again at any time.</p>
                        </div>
                    </div>
                    <p> <br /></p>



                </div>

                <div id="c4" class="adventContainerTab" style=" display: none;padding: 20px">
                    <span onclick="this.parentElement.style.display='none'" style="float: right; color: black; font-size: 35px; cursor: pointer;">&times;</span>
                    <p style="font-size: 20px;">
                        There are many fascinating creatures that reside in Australia’s ocean waters. One of them being jellyfish which can easily be seen at the shores or the beaches. Dear children, it is very important for you to avoid them as they can cause painful stings.
                    </p>
                    <b style="font-size: 20px;">
                        TIPS TO PROTECT FROM STINGERS IN TROPICAL WATERS
                    </b>
                    <img src="~/images/AquaticLife/AquaticLife1.jpg" width="100%" height="100%">
                    <p style="font-size: 20px;">
                        <b> Non-tropical marine stingers-</b> Their stings generally do not cause any threat to life but can bring some discomfort if you are caught in contact with them. The bluebottle is a popular jellyfish around the coastline of Australia. They can be easily identified by seeing their blue, balloon like sail which usually floats/sits above the water and are attached to the long tentacles which are extended below it.
                    </p>
                    <b style="font-size: 20px;">
                        IF STUNG BY NON TROPICAL JELLYFISH STINGS, DO THE FOLLOWING-
                    </b>
                    <p></p>
                    <img src="~/images/AquaticLife/AquaticLife2.jpg" width="100%" height="100%">
                    <p></p>
                    <p style="font-size: 20px;">
                        <b>Tropical marine stingers-</b> Their stingers are known to cause threat to life. Box Jellyfish and Irukandji are classified as dangerous as they have potent toxic stings which can cause serious illness and death in some cases. Special caution must be taken care when entering waters during the ‘stinger season’, which generally runs from November to March.
                    </p>
                    <b style="font-size: 20px;">
                        IF STUNG BY TROPICAL MARINE STINGERS, DO THE FOLLOWING-
                    </b>
                    <p></p>
                    <img src="~/images/AquaticLife/AquaticLife3.jpg" width="100%" height="100%">
                    <p></p>
                    <b style="font-size: 20px;">
                        NOTE – DO NOT TRY STRANGE AND BIZARRE EXPERIMENTS TO RELIEVE PAIN FROM STINGS.
                    </b>
                    <p></p>
                    <div align="center"><img style="text-align: center;" src="~/images/AquaticLife/AquaticLife4.jpg" width="80%" height="80%"></div>
                    <p><br /></p>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#7daec5 SIZE=3>
                    <p><br /></p>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <b>Blue Ringed Octopus-</b> They are another fascinating and beautiful species but are deadly in nature. They can easily hide themselves by camouflaging into the rocks around the beaches or piers. Avoid them by staying away and not interfering their environment. Their bit usually causes numbness of the lips and tongue. It also makes difficult to breathe. Severe untreated bites can even lead to death.
                            </p>
                            <b style="font-size: 20px;">If someone is bitten  -</b>
                            <ul>
                                <li>
                                    Dial Emergency contact triple zero (000) immediately.
                                </li>
                                <li>
                                    Seek help if nearby to surf lifesaver/lifeguard.
                                </li>
                                <li>
                                    Proceed with CPR (Cardio-pulmonary resuscitation) if patient has lost their senses.
                                </li>
                                <li>
                                    Apply compression or immobilization bandaging to the area.
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <img src="~/images/AquaticLife/AquaticLife5.jpg" width="100%" height="90%">

                        </div>

                    </div>




                    <p><br /></p>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#7daec5 SIZE=3>
                    <p><br /></p>
                    <div class="row">

                        <div class="col-md-5">
                            <img src="~/images/AquaticLife/AquaticLife6.jpg" width="100%" height="100%">

                        </div>
                        <div class="col-lg-7">
                            <p><b>Sharks-</b> Australian coastline is famous for the sharks but do not worry, most of them are harmless to humans. But still, seeing one brings fear.</p>

                            <b style="font-size: 20px;">
                                Some quick tips to avoid or minimize the chances of encountering a shark at beach-
                            </b>
                            <ul>
                                <li>
                                    Always look for the warning signs before entering into the waters.
                                </li>
                                <li>
                                    Try to avoid swimming at dawn and dusk.
                                </li>
                                <li>
                                    Try to avoid swimming at river mouths and discoloured waters.
                                </li>
                                <li>
                                    Try to avoid swimming in or around the waters which is pool for baitfish.
                                </li>
                            </ul>

                        </div>

                    </div>



                </div>
            </div>


        </div>

    </div>


</section> 




<script>

   

    function openAdventTab(tabName) {
        var k, x;
        x = document.getElementsByClassName("adventContainerTab");
        for (k = 0; k < x.length; k++) {
            x[k].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
    }
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none ";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

